#!/bin/bash

echo "-------------------$(date +%F_%R:%S) START BACKUP DB" >> {{ log }}
mysqldump -v --no-tablespaces --log-error={{ log }} -u sully -p{{ db_user_pass }} {{ database_name }} | gzip > {{ path_db_backup }}wordpress_$(date +"%d-%m-%Y_%H-%M-%S").sql.gz
find {{ path_db_backup }} -type f -mtime {{ depth }} -delete &>>{{ log }}
rsync --rsync-path="sudo -u ubuntu /usr/bin/rsync" --log-file={{ log }} --archive --verbose --delete {{ path_db_backup }} ubuntu@{{ HOST }}:{{ path_db_backup }}
echo "-------------------$(date +%F_%R:%S) FINISH BACKUP DB" >> {{ log }}
