#!/bin/bash

echo "-------------------$(date +%F_%R:%S) START BACKUP" >> {{ log }}
tar --totals -czf {{ path_backup }}backup_$(date +"%d-%m-%Y_%H-%M-%S").tar.gz /var/www/{{domain_name}}/wordpress/ &>>{{ log }}
find {{ path_backup }} -type f -mtime {{ depth }} -delete &>>{{ log }}
rsync --rsync-path="sudo -u ubuntu /usr/bin/rsync" --log-file={{ log }} --archive --verbose --delete {{ path_backup }} ubuntu@{{ HOST }}:{{ path_backup }}
echo "-------------------$(date +%F_%R:%S) FINISH BACKUP" >> {{ log }}


